@using Microsoft.AspNet.Identity
@using sadecefikirler.Models;
@using sadecefikirler.ViewModels;
@model List<sadecefikirler.Models.Post>

@{
    ViewBag.Title = "NewsBlog";
    Layout = "~/Views/Shared/Blog.cshtml";
}
<div id="content-block">
    <div class="container be-detail-container">
        <h2 class="content-title">HABERLER</h2>
        <div class="blog-wrapper blog-list">
            <div class="blog-filter">
                @foreach (var post in Model)
                {
                    foreach (var item in post.Categories)
                    {
                        <a href="blog-detail-2.html" class="btn color-4 size-2 hover-9">@item.Name</a>
                    }
                }
            </div>         
            @foreach (var post in Model)
            {
                <div class="blog-post">
                    <div class="row">
                        <div class="col-xs-12 col-sm-7">
                            <a class="post-preview post-image" href="../../../../Post/NewsBlogDetails/@post.Id"><img class="img-responsive img-full" src="~/Images/blog_1.jpg" alt=""></a>
                        </div>
                        <div class="col-xs-12 col-sm-5">
                            <div class="post-desc">
                                <div class="post-category">
                                @foreach (var item in post.Categories)
	                            {
		                                @item.Name
	                            }
                                </div>
                                <a class="post-label" href="../../../../Post/NewsBlogDetails/@post.Id">@post.Title</a>
                                <div class="post-text">@post.Content</div>
                                <div class="author-post">
                                    <img src="img/a1.png" alt="" class="ava-author">
                                    <span>by <a href="blog-detail-2.html">@User.Identity.GetUserName()</a>, @post.PublishDate</span>
                                </div>
                                <div class="info-block">
                                    <span><i class="fa fa-thumbs-o-up"></i> 360</span>
                                    <span><i class="fa fa-eye"></i> 789</span>
                                    <span><i class="fa fa-comment-o"></i> 20</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <div class="pagination clearfix">
                <a class="btn color-4 hover-9 page-left" href="blog-detail-2.html"><<<</a>
                <a class="btn color-4 hover-9 page-right" href="blog-detail-2.html">>>></a>
                <div class="pages">
                    <a class="btn color-5 hover-9" href="blog-detail-2.html">1</a>
                    <a class="btn color-5 hover-9" href="blog-detail-2.html">2</a>
                    <a class="btn color-5 hover-9" href="blog-detail-2.html">3</a>
                    <a class="btn color-5 hover-9" href="blog-detail-2.html">4</a>
                    <a class="btn color-5 hover-9" href="blog-detail-2.html">...</a>
                    <a class="btn color-5 hover-9" href="blog-detail-2.html">10</a>
                </div>

            </div>
        </div>
    </div>
</div>s